[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "rcar-gfx"]
	path = rcar-gfx
	url = https://github.com/renesas-rcar/rcar-gfx.git
