[submodule "poky"]
	path = submodules/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "meta-openembedded"]
	path = submodules/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "rcar-gfx"]
	path = submodules/rcar-gfx
	url = https://github.com/renesas-rcar/rcar-gfx.git
[submodule "submodules/meta-renesas"]
	path = submodules/meta-renesas
	url = https://github.com/renesas-rcar/meta-renesas
[submodule "submodules/meta-browser"]
	path = submodules/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "submodules/cef-project"]
	path = submodules/cef-project
	url = https://github.com/chromiumembedded/cef-project
[submodule "submodules/cef"]
	path = submodules/cef
	url = https://github.com/chromiumembedded/cef
